body{
    background-image: url(./assets/backdrop.jpeg);
}
.bg-primary{
    background-color: lime !important;
}
img{
    padding:10px;
}
/* footer{
    position: fixed;
    width:100%;
    background-color:yellow;
    color:white;
    text-align:center;
    width:100%;
} */
.navbar-brand{
    background-color:green;
}
.container{
    width:60%;
}

.lead{
    text-align:left;
}