/* Styling background image */
body{
    background-image: url(https://images.unsplash.com/photo-1560780552-ba54683cb263?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80);
    background-color:gray;
    background-repeat: no-repeat;
    background-size: cover;
}
/* Styling Navigation bar */
.bg-primary{
    background-color: lime !important;
}

/* Styling aboutme image on index.html & to get text wrapped */
.img{
    float:left;
    width: 210px;
    height: 200px;
    margin-left: 5px;
    margin-bottom: 15px;
    padding-right:5px;
    
}
/* Structuring layout of the content of about me */
#home-content{
    background-color: white;
    position: relative;
    /* text-align: center; */
    width: 70%;
    height: 80%;
    margin-top: 5%;
    margin-right: 75%;
    margin-bottom: 50%;
    margin-left: 5%;
    padding: 25px 25px 25px 25px;
}
/* Styling footer */
.footer{
    background-color:burlywood;
    height:100%;
    color:white;
    padding:10px 0px 10px 0px;
    text-align: center;
} 
/* Changing navbar brand color */
.navbar-brand{
    background-color:green;
}
/* Changing size based on screen size*/
.container{
    width:60%;
}
/* Styling contact form  */
#contact-content{
    background-color: white;
    position: relative;
    text-align: center;
    width: 70%;
    height: 80%;
    margin-top: 5%;
    margin-right: 75%;
    margin-bottom: 50%;
    margin-left: 5%;
    padding: 25px 25px 25px 25px;
    text-align: left;
}
/* Styling portfolio content */
#portfolio-content{
    background-color: white;
    position: relative;
    text-align: center;
    width: 70%;
    height: 80%;
    margin-top: 5%;
    margin-right: 75%;
    margin-bottom: 50%;
    margin-left: 5%;
    padding: 25px 25px 25px 25px;
    text-align: left;
}
/* Styling images in portfolio */
#image-padding{
    padding-top: 10px;
    padding-bottom: 10px;
}
