body{
    background-image: url(./assets/backdrop.jpeg);
    background-color:gray;
}
.bg-primary{
    background-color: lime !important;
}
img{
    width: 400px;
    height: 267px;
}
.footer{
    background-color:burlywood;
    height:100%;
    color:white;
    padding:10px 0px 10px 0px;
    text-align: center;
} */
.navbar-brand{
    background-color:green;
}
.container{
    width:60%;
}

.lead{
    text-align:left;
}